.card {
    position: relative;
    margin-bottom: 24px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.step-progress {
    padding: 16px;
    background-color: #fafafa;
    margin: 0 auto;
}
.step-progress .step-slider {
    width: 100%;
}
.step-progress .step-slider .step-slider-item {
    width: 33%;
    height: 1px;
    position: relative;
    float: left;
    background-color: #e0e0e0;
}
.step-progress .step-slider .step-slider-item:after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: -6px;
    right: 0;
    background-color: #fafafa;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    z-index: 2;
    transition: all 0.3s ease-out 0.5s;
    -webkit-transition: all 0.3s ease-out 0.5s;
}
.step-progress .step-slider .step-slider-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: #b0bec5;
    z-index: 1;
    -webkit-transition: all 0.5s ease-out;
}
.step-progress .step-slider .step-slider-item.active:before {
    width: 100%;
    background-color: #ff8f00;
}
.step-progress .step-slider .step-slider-item.active:after {
    border-color: #ff8f00;
}
.step-content {
    padding: 16px 0;
}
.step-content .step-content-foot {
    text-align: right;
}
.step-content .step-content-foot button {
    border: 0;
    padding: 8px 16px;
    background-color: #cfd8dc;
    font-size: 14px;
    border-radius: 3px;
    outline: 0;
}
.step-content .step-content-foot button:active {
    background-color: rgba(255, 255, 255, 0.2);
}
.step-content .step-content-foot button.out {

}
.step-content .step-content-foot button.disable {
    background-color: #eceff1;
}
.step-content .step-content-foot button.active {
    background-color: #00acc1;
    color: white;
}
.step-content .step-content-body {
    padding: 16px 0;
    text-align: center;
    font-size: 18px;
}
.step-content .step-content-body.out {

}